[submodule "lib/blt-gp"]
	path = lib/blt-gp
	url = https://github.com/Tri11Paragon/blt-gp
[submodule "lib/blt"]
	path = lib/blt
	url = https://github.com/Tri11Paragon/blt
[submodule "lib/ThreatExchange"]
	path = lib/ThreatExchange
	url = https://github.com/facebook/ThreatExchange
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/blt-graphics"]
	path = lib/blt-graphics
	url = https://git.tpgc.me/tri11paragon/BLT-With-Graphics-Template.git
