[submodule "lib/blt-gp"]
	path = lib/blt-gp
	url = https://github.com/Tri11Paragon/blt-gp
[submodule "lib/blt"]
	path = lib/blt
	url = https://github.com/Tri11Paragon/blt
[submodule "lib/ThreatExchange"]
	path = lib/ThreatExchange
	url = https://github.com/facebook/ThreatExchange
